body {
  background-image: url('bg.jpeg');
}

#container {
  margin: 0 auto;
  margin-top: 20%;
}

p{
  font-size: 20px;
  margin-top: -10px;
}

.square {
  background-color: rgba(255, 0, 0, 0.4);
  width: 10%;
  height: 110px;
  padding: 5px;
  margin: .10%;
  float: left;
  text-align: center;
  font-size: 80px;
  border: 3px solid black;
}

.playing {
  border: yellow;
  font-size: 90px;
}
